@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;

/* Theme Setup */
.light-theme {
  /* Theme Colors */
  --bg-background-primary: white;
  --bg-background-secondary: #f7fafc;
  --bg-background-ternary: #e2e8f0;

  /* Font */
  --text-tc-primary: #000000;
}

.dark-theme {
  /* Theme Colors */
  --bg-background-primary: #1E213A;
  --bg-background-secondary: #100E1D;
  --bg-background-ternary: #6E707A;

  /* Font */
  --text-tc-primary: #E7E7EB;
  --text-tc-secondary : #A09FB1;
  --text-tc-ternary : #88869D;

  /* Boundary */
  --boundary-primary : #616475;
}

/* Custom utilities */
.transition-all-1-ease-in{
  transition: all .1s ease-in;
}
.transition-all-25-ease-in{
    transition: all .25s ease-in;
}
.transition-background-25-ease-in{
    transition: background-color .25s ease-in;
}
.btn{
  @apply transition-all-1-ease-in
}
.btn:focus{
  @apply outline-none
}
.highlight-card{
  @apply flex flex-col items-center justify-center bg-background-primary py-5 mt-8 rounded-lg
}
@tailwind utilities;
